@import "tailwindcss";

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #000000;
  font-family: monospace;
  color: #ffffff;
}

div {
  display: flex;
  margin: 3em;
}

p {
  font-size: large;
}

button {
  padding: 1em;
  background-color: #304d91;
  border-radius: 1em;
  cursor: pointer;
  font-size: large;
}

input {
  border: 1px solid #ffffff;
  background-color: #111111;
  border-radius: 0.5em;
  padding: 1em;
  font-size: large;
}

button:hover {
  background-color: #1b3269;
}

button:disabled {
  background-color: #898989;
  cursor: default;
}