@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="text"] {
  background-color: #1e253d;
  border: 2px solid #465e8d;
  border-radius: 12px;
  margin: 24px;
  padding: 2px;
  width: 100%;
}

a,
button {
  background-color: #465e8d24;
  border: 2px solid #1e253d;
  color: #6d88e2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 24px;
  border-radius: 12px;
}

a:hover,
button:hover {
  background-color: #465e8d45;
}